@page "/Home"

<PageTitle>Home</PageTitle>

<RadzenCard>
    <RadzenStack>
        <RadzenLabel Text="23"/>
        <RadzenLabel Text="Parkings"/>
    </RadzenStack>
</RadzenCard>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{

}