@page "/customers"
@using ParkAndFlyAdministrationClient.Data.Models
@using ParkAndFlyAdministrationClient.Data.Services
@inject ICustomerService CustomerService
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
<h3>Customers</h3>

<RadzenDataGrid style="height: 335px" Data="@_customers" TItem="Customer" IsLoading=@_isLoading AllowFiltering="true" AllowPaging="true">
    <Columns>
        <RadzenDataGridColumn TItem="Customer" Property="Email" Title="Email" />
        <RadzenDataGridColumn TItem="Customer" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="Customer" Property="Surname" Title="Surname" />
        <RadzenDataGridColumn TItem="Customer" Property="Birthday" Title="Birthday" />        
        <RadzenDataGridColumn TItem="Customer" Property="PhoneNumber" Title="Phone Numnber" />
    </Columns>
</RadzenDataGrid>

@code {
    List<Customer> _customers;
    bool _isLoading;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _isLoading = true;

        _customers = await CustomerService.GetAllAsync();

        _isLoading = false;
    }
}
